.header-container {
    background-color: #1d428b;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-tab {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2em;
}

.header-tab:hover {
    text-decoration: underline;
}